@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blackgb: #060215;
  --gray100: #e6e5e5;
  --gray300: #c2bdbd;
  --white: #f8f8f8;
  --redprimary: #ff3131;
  --redsecondary: #ff8888;
  --oranjeprimary: #ff914d;
  --oranjesecondary: #fdb78c;
  --font-family: "Chakra UI", "sans-serif";
}

body {
  font-family: var(--font-family);
  background-color: var(--gray100);
}
