@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blackgb: #060215;
  --gray100: #e6e5e5;
  --gray300: #c2bdbd;
  --white: white;
  --redprimary: #ff3131;
  --redsecondary: #ff8888;
  --redapproval: #c53030;
  --orangeprimary: #ff914d;
  --orangesecondary: #fdb78c;
  --bg-status-square: #847c7b;
  --font-family: "Lato", "Chakra UI", "sans-serif";
  --bg-button:#F2F2F2;
}

body {
  font-family: var(--font-family);
  background-color: var(--white);
}

.gradient-red {
  background-image: linear-gradient(
    to right,
    var(--redprimary),
    var(--orangeprimary)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.bg-gradient-red {
  background-image: linear-gradient(
    to right,
    var(--redprimary),
    var(--orangeprimary)
  );
}

.gradient-orange {
  background-image: linear-gradient(
    to right,
    var(--orangeprimary),
    var(--orangesecondary)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.bg-gradient-orange {
  background-image: linear-gradient(
    to right,
    var(--orangeprimary),
    var(--orangesecondary)
  );
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--redprimary); 
  position: absolute;
  z-index: 10;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
